    <strong class="wts-card__name">{{ workshop.name }}</strong>
    {% if workshop.instructor %}
        <span class="wts-card__meta">{{ workshop.instructor }}</span>
    {% endif %}
    <span class="wts-card__meta">
    <!--
        {% set _ts = timeslot is defined ? timeslot : (ts is defined ? ts : null) %}
        {% if _ts and _ts.start_datetime %}{{ _ts.start_datetime|date('j.n.Y H:i') }}{% endif %}

        - 
        {% if _ts and _ts.start_datetime and  _ts.end_datetime %}
            {% if _ts.start_datetime|date('j.n.Y') !=  _ts.end_datetime|date('j.n.Y')  %}
                {{  _ts.end_datetime|date('j.n.Y')  }}
            {% endif %}
        {% endif %}

        {% if _ts and _ts.end_datetime %}&nbsp; {{ _ts.end_datetime|date('H:i') }}<br>{% endif %}
        {% if _ts and _ts.duration_minutes %}&nbsp;·&nbsp;{{ _ts.duration_minutes }} min<br>{% endif %}
        --!>
    </span>
    <span class="wts-card__meta">
        {{ workshop.price|number_format(0, ',', ' ') }} Kč<br>
        
            míst na workshopu: {{ workshop.capacity}}<br>
            počet existujících registrací: {{ workshop.enrolled_count }} <br>
            {% if workshop.enrolled_count > workshop.capacity  %}
            <div>
                <strong>Je více registrací, než volných míst</strong>
                Na workshop se dostanete  jen pokud se uvolní místa tím, že je někdo nezaplatí či se dostane na jiný workshop.
            </div>
            {% endif %}
         {% if workshop.location %}
            <strong>Místo:</strong> {{ workshop.location }}<br>
        {% endif %}
    </span>


                                    